@font-face {
    font-family: 'Digital-7';
    src: url('resources/digital-font/digital-7.ttf') format('truetype');
}  
:root {
    --primary-color: #665c50;
    --secondary-color: #221c16;
    --accent-color: #e37924;
    --aluminium-color: #B1B2B4;
    --dark-alu-color: #191a1a;
    --light-color: #f8f7ee;
}
body {
    background-color: var(--primary-color);
}
.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    width: 300px;
    border: solid 4px var(--dark-alu-color);
    border-radius: 15px;
    padding: 8px;
    background-color: var(--aluminium-color);
    box-shadow: 2px 2px 4px 2px;
}
.display {
    text-align: right;
    font-size: 36px;
    background-color: #1A4D2E;
    padding: 8px;
    font-family: 'Digital-7';
    overflow: hidden;
    border: 3px solid var(--dark-alu-color);
    border-radius: 1px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 8px;
}
.left-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.right-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
button {
    padding: 8px;
    font-size: 36px;
    flex-grow: 1;
    color: var(--light-color);
    border: 3px solid black;
    border-radius: 3px;
}
.right-buttons button {
    background-color: var(--primary-color);
}
.numbers {
    background-color: var(--secondary-color);
}
#clear {
    background-color: var(--accent-color);
}
.right-buttons button:hover {
    background-color: var(--secondary-color);
}
.numbers:hover {
    background-color: var(--primary-color);
}
#clear:hover {
    background-color: #965017;
}
.right-buttons button:active {
    background-color: black;
}
.numbers:active {
    background-color: var(--secondary-color);
}
#clear:active {
    background-color: #49270b;
}